/* Title and Score board */
body{
    background-color: black;
}
#mainHeading{
    position:absolute;
    left:45%;
    top:10px;
    font-size:70px;
    color: whitesmoke;
}

#Player1Score{
    position:absolute;
    left:30px;
    top:80px;
    color: whitesmoke;
}

#Player2Score{
    position:absolute;
    right:30px;
    top:80px;
    color: whitesmoke;
}


/* Play Area */

#paddle1{
    position:absolute;
    left:0px;
    top:460px;
    width:10px;
    height:150px;
    background-color:whitesmoke;
}

#ball{
    position:absolute;
    left:50%;
    top:50%;
    width:25px;
    height:25px;
    background-color:whitesmoke;
    border-radius:50%;
}

#paddle2{
    position:absolute;
    right:0px;
    top:460px;
    width:10px;
    height:150px;
    background-color:whitesmoke;
}